
<h1 id="test"> </h1>

<section style="background-color: transparent;">
    <app-line-chart style="width: 100%; height: 50vh;"></app-line-chart>
    

</section>

<section id="petalk_board_section"> 
    <div id="petalk_board"> 
      <div id="petalk_board_top_container"> 
        <img id="animal_animated_img">
        <h3 id="petalk_event_type"> </h3>
        <img id="animal_real_img">

      </div> 
      <div id="petalk_board_mid_container"> <h4 id="description"> </h4> </div>
      <div id="petalk_board_btm_container">
            <h5 id="time_event"> </h5>

      </div>

    </div>

</section>
<button id = 'animalNotifcationbtn' (click)="sendTestAnimalNotification()"> Click To Send Animal Notification </button>



