<!-- 
<h1 id="test"> </h1>

<section style="background-color: transparent;">
    <app-line-chart style="width: 100%; height: 50vh;"></app-line-chart>
    

</section>

<section id="petalk_board_section"> 
    <div id="petalk_board"> 
      <div id="petalk_board_top_container"> 
        <img id="animal_img_png" #animalImagePng>
        <h3 id="petalk_animal_name" #animalName> </h3>


      </div> 
      <div id="petalk_board_mid_container"> <h4 id="description"> </h4> 
        <div> <h2 id="petalk_event_name"> </h2></div>
      
      </div>
      <div id="petalk_board_btm_container">
            <h5 id="time_event"> </h5>

      </div>

    </div>

</section> -->
<button id = 'userNotifcationbtn' (click)="sendTestUserNotification()"> Click To create new user with full data</button>
<button id = 'petNotifcationbtn' (click)="sentPetAnimalNotifcation()"> Click To create a new pet for user 1</button>
<button id = 'petalkDeviceTriggerbtn' (click)="sentNewDeviceTriggerNotification()"> add a new notification to the petalk device for device 1</button>





