html
{
    margin: 0px;
}

#stage{
    display: flex;
    justify-content: left;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    width: 100%;
}
#main_body{
    width: 95%;
    height: 100%;

}
nav, #main_nav
{
   margin: 0px 0px 0px 0px; 
   padding: 0px 0px 0px 0px;
}
