<nav>
    <div id="links_section">
            <div id="link_container"> <h2 > <a routerLink="/home"> Home</a> </h2> </div>
            <!-- <div id="link_container"> <h2 > Your Petalk</h2> </div> -->
            <div id = 'link_container'> <h2  > <a routerLink="/new-petalk" >New Pet </a> </h2> </div>
            <div id = 'link_container'> <h2 > <a routerLink="/contact">Contact </a> </h2> </div>  
            <div id = 'link_container'> <h2 ><a routerLink="/petalk_calendar">Calendar </a>  </h2> </div>  
     </div>
</nav>