nav{
    width: 100vw;
    height: 5vh;
    background-color: rgb(157, 181, 187);
    position: fixed;
    bottom: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
a
{
    text-decoration: none;
}
#links_section
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#link_container
{
    height: 5%;
    margin-left: 300px;
}
