nav{
    width: 100vw;
    height: 5vh;
    background-color: rgb(236, 236, 236);
    position: fixed;
    bottom: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    box-shadow: rgba(142, 172, 119, 0.25) 0px 30px 60px -12px inset, rgba(23, 175, 86, 0.3) 0px 18px 36px -18px inset;
}
a
{
    text-decoration: none;
    color: rgb(66, 63, 63);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: none;
    font-size: 25px;
}
#links_section
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#link_container
{
    height: 5%;
    margin-left: 300px;
}
body.dark-mode {
    background-color: #2d3436;
    color: #dfe6e9;
  }
  
  body.light-mode {
    background-color: #dfe6e9;
    color: #2d3436;
  }
